{%extends "layout.html"%}
{%block title%}About Us{%endblock%}
{% block body %}
<div class="wrapper">
  <link rel="stylesheet" href="../static/styles/about.css">
  <style>
    .main {
      width: 60%;
      background: #4fa3ecbb;
      aspect-ratio: 5/6;
      margin: 10% auto;
      border-radius: 82px;
      box-shadow: 50px -50px #1074d13d;

    }
  </style>
  <div class="main a_site">
    <h1>About This Site</h1>
    <div class="background">
      <img src="../static/images/icon.jpg" alt="" class="about_pics">
      <p class="description">Farmers are the backbone of country's economy. But, they do face a lot of problems, due to poor education system and financial management system provided to them. Our site FarmChamps tries to cover some part of the requirements to provide a better opportunity to the massive agro industry.</p>
    </div>
  </div>
  <div class="main">
    <h1>Members</h1>
    <div class="participants left">
      <img src="../static/images/mem1.jpg" alt="" id="logo" class="about_pics members">
      <p class="about_mem"> Hello Everyone, I'm Partha Pratim Deka.I currently live in assam, India and I'm a full-time
        student pursuing bachelor of technology in computer science at national institute of technology, silchar.</p>
    </div>
    <div class="participants right">
      <img src="../static/images/mem2.jpg" alt="" id="logo" class="about_pics members">
      <p class="about_mem">Hey viewers,I am Aryadeep Gogoi from CSE department. I live in Rongpur, Silchar, completed my 10th from
        Tagore Public School, Rongpur, Silchar and my 12th form Ramanuj Gupta junior College, Ambicapatty, Silchar. I am
        currently pursuing B. Tech. at CSE from NIT Silchar. My hobbies are reading, singing and coding. </p>
    </div>
    <div class=" participants left">
          <img src="../static/images/mem3.jpg" alt="" id="logo" class="about_pics members">
        <p class="about_mem"> I am Anupam Das from CSE department. I live in Rongpur, Silchar, completed my 10th from
          Tagore Public School, Rongpur, Silchar and my 12th form Ramanuj Gupta junior College, Ambicapatty, Silchar. I
          am
          currently pursuing B. Tech. at CSE from NIT Silchar. My hobbies are reading, singing and coding. </p>
      </div>
      <div class="participants right">
        <img src="../static/images/mem4.jpg" alt="" id="logo" class="about_pics members">
        <p class="about_mem"> Hi, I am Rupantar Borphukan pursuing Bachelor of Technology from NITS in Electronics & Instrumentation 
          engineering department. I am from in Moranhat, Assam.I am Web Development enuthiast and love coding.
          Also, play Chess and Badminton. </p>
      </div>
      <div class="participants left">
        <img src="../static/images/mem5.jpg" alt="" id="logo" class="about_pics members">
        <p class="about_mem">Hi there, Shubham Kumar this side.I am undergrad in NITS from CSE department.Done my 10th from 
           St. Xaviers public school and 12th from college of commerce patna.My hobby is to play cricket, read books, coding, love to sing, dance as well as acting.
           </p>
      </div>

    </div>
    {%endblock%}