{% extends "layout.html"%}
{%block title%}Blogs{%endblock%}
{% block body %}
<link rel="stylesheet" href="../static/styles/blogs.css">
<img src="../static/images/blogs_clip.jpg" id="blogs_clip" alt="">
<h2 id="greetings">Greatings Readers!</h2>
<div class="blogs">
    {% for i in ros%}
    <div class="one_blog">
    {% if i%2 == 0 %}
    <img src="../static/images/blog1.jpg" alt="" class="thumbnail_left">
    {%else%}
    <img src="../static/images/blog1.jpg" alt="" class="thumbnail_right">
    {%endif%}
    {% if i%2 == 0 %}
    <div class="blog_summary sum_right">
    {%else%}
    <div class="blog_summary sum_left">
    {%endif%}
        <h2>heading</h2>
            <div class="summ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolores. Nobis labore reprehenderit a necessitatibus neque eius quo perferendis exercitationem, harum ducimus, corporis praesentium error provident cumque ipsam voluptate ratione?
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}