<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo"><a href="/"><img src="../static/images/logo.jpg" id="logo" alt=""></a></div>
            <ul>
                <li>HOME</li>
                <li>WEATHER</li>
                <li>FINANCIAL</li>
                <li>BLOG</li>
            </ul>
        </nav>
      </div>
</body>
</html>