<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo"><a href="/"><img src="../static/images/logo.jpg" id="logo" alt=""></a></div>
            <ul>
                <!-- <li><a href="/about">About Us</a></li>
                <li>{% if user == 'login' %}
                    <div class="logo"><a href="/dashboard"><button id="btn">LOGIN</button></a></div>
                {% else %}
                    <a href="/dashboard"><button id="user" title={{user}}><img src="../static/images/PngItem_5040528.png" alt="user"></button></a></li>
                {% endif %}</li> -->
                <li>HOME</li>
                <li>WEATHER</li>
                <li>FINANCIAL</li>
                <li>BLOG</li>
            </ul>
        </nav>
      </div>
</body>
</html>