<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <!-- header code -->
        <div class="header">
            <div class="logo"></div>
            <div class="user">LOGIN</div>
        </div>
        <div class="nav">
            <nav>
                <div class="logo"><a href="/"><img src="../static/images/logo.jpg" id="logo" alt=""></a></div>
                <ul>
                    <li>HOME</li>
                    <li>WEATHER</li>
                    <li>FINANCIAL</li>
                    <li>BLOG</li>
                    <li>HELPING HAND</li>
                    <li>ABOUT US</li>
                </ul>
            </nav>
          </div>
    </header>
    <div class="feed-box">
        <h2>Top Stories</h2>
        <div class="news-feed">
            <div class="feed">
                <div class="feed-content">
                    <h3>HEADLINE</h3><br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aut quia eveniet hic adipisci ipsum inventore debitis laboriosam assumenda maiores tenetur nulla optio quasi, esse vero id magni velit vel magnam. Ad quo nesciunt mollitia optio eum deserunt temporibus, quos odio, iste cupiditate vero tempora quae debitis possimus animi quod?</p>
                </div>
            </div>
            <div class="feed">
              <div class="feed-content">
                  <h3>HEADLINE</h3><br>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aut quia eveniet hic adipisci ipsum inventore debitis laboriosam assumenda maiores tenetur nulla optio quasi, esse vero id magni velit vel magnam. Ad quo nesciunt mollitia optio eum deserunt temporibus, quos odio, iste cupiditate vero tempora quae debitis possimus animi quod?</p>
              </div>
            </div>
            <div class="feed">
              <div class="feed-content">
                  <h3>HEADLINE</h3><br>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aut quia eveniet hic adipisci ipsum inventore debitis laboriosam assumenda maiores tenetur nulla optio quasi, esse vero id magni velit vel magnam. Ad quo nesciunt mollitia optio eum deserunt temporibus, quos odio, iste cupiditate vero tempora quae debitis possimus animi quod?</p>
              </div>
            </div>
            <div class="feed">
              <div class="feed-content">
                  <h3>HEADLINE</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aut quia eveniet hic adipisci ipsum inventore debitis laboriosam assumenda maiores tenetur nulla optio quasi, esse vero id magni velit vel magnam. Ad quo nesciunt mollitia optio eum deserunt temporibus, quos odio, iste cupiditate vero tempora quae debitis possimus animi quod?</p>
              </div>
            </div>
            <div class="feed">
              <div class="feed-content">
                  <h3>HEADLINE</h3><br>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aut quia eveniet hic adipisci ipsum inventore debitis laboriosam assumenda maiores tenetur nulla optio quasi, esse vero id magni velit vel magnam. Ad quo nesciunt mollitia optio eum deserunt temporibus, quos odio, iste cupiditate vero tempora quae debitis possimus animi quod?</p>
              </div>
            </div>
            <div class="feed"></div>
            <div class="feed"></div>
            <div class="feed"></div>
            <div class="feed"></div>
        </div>
    </div>
    <div class="farmer">
        <img src="../static/images/f2.jpg" alt="">
        <div class="farmer-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perspiciatis eaque quas perferendis omnis laudantium at ipsum amet repellendus? Praesentium ipsa perferendis velit eos harum dolorum illo sapiente in, aspernatur blanditiis alias odio illum quod fugiat laudantium fuga quibusdam incidunt, voluptate tempore, maxime veniam? Ullam, assumenda minima. Odit, deleniti. Eaque animi odit ab! Exercitationem blanditiis obcaecati incidunt temporibus quaerat unde facere nisi mollitia, quod deleniti hic provident est cupiditate animi ducimus natus illum quis dolorem! Labore nemo iusto pariatur error corrupti quia maiores quae dolorem quisquam amet ipsam repudiandae, laudantium distinctio reiciendis ea non animi officiis inventore aut sapiente porro!</p>
        </div>
    </div>
    <div class="contact-details">
      <div class="info">
          <h4>connect with us</h4>
          <a href="#" target="_blank"><img src="../static/images/facebook.png"></a>
          <a href="#" target="_blank"><img src="../static/images/instagram.png"></a>
          <a href="#" target="_blank"><img src="../static/images/linkedin.png"></a>
          <a href="#" target="_blank"><img src="../static/images/github.png"></a>
      </div>
  </div>
  <footer>
    <div class="rights">
        <h4>&copy; Copyright 2022. All rights reserved</h4>
        <h4>FARMCHAMPS.com</h4>
    </div>
</footer>
</body>
</html>