{% extends "layout.html" %}
{%block title%}Home{%endblock%}
{% block body %}
<link rel="stylesheet" href="../static/styles/index.css">
<div class="feed-box">
    <h2>Top Stories</h2>
    <div class="news-feed">
        {% for i in nos %}
        <div class="feed">
            <div class="feed-content">
                <h3>{{newses[i]['title']}}</h3><br>
                <p>{{newses[i]['content'][0:-14]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
<div class="farmer">
    <img src="../static/images/f2.jpg" alt="">
    <div class="farmer-text">
        <p>Farmers are the backbone of country's economy. But, they do face a lot of problems, due to poor education system and financial management system provided to them. Our site FarmChamps tries to cover some part of the requirements to provide a better opportunity to the massive agro industry.</p>
    </div>
</div>

{% endblock %}