{% extends "layout.html"%}
{% block body %}
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
        <div class="loginbox">
            <form>
    <img src="f2" class="avatar" alt="img">
        <h1>Login Here</h1>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>
{% endblock %}