
{% extends "layout.html"%}
{% block body %}
<link rel="stylesheet" href="../static/styles/login.css">
<div class="login-form main">
    <form action="/login" method="post" class="form">
        <h2>Log in</h2>
        <p class="text">Username</p>
        <input type="text" name="name" id="username" placeholder="Username">
        <p class="text">Password</p>
        <input type="password" name="pass" id="password" placeholder="Password">
        <p class="login">Login with Google</p>
        <p class="login">Login with Facebook</p>
        <button type="submit">Submit</button>
        <p class="signup-msg">Don't have an account?<a href="/signup">Signup</a></p>
    </form>
    <div class="design"><img src="../static/images/login-removebg-preview.png"  alt=""></div>
</div>
<!-- </div> -->
<div class="contact-details">
    <div class="info">
        <h4>connect with us</h4>
        <a href="#" target="_blank"><img src="../static/images/facebook.png"></a>
        <a href="#" target="_blank"><img src="../static/images/instagram.png"></a>
        <a href="#" target="_blank"><img src="../static/images/linkedin.png"></a>
        <a href="#" target="_blank"><img src="../static/images/github.png"></a>
    </div>
</div>
{% endblock %}
