{% extends "layout.html"%}
{% block body %}
<!-- 
<h1>{{city}}</h1>
<h3>{{country}}</h3>
<h2>Cloudiness: {{cloudiness}}%</h2>
<h1>{{temp_present}}<sup>0</sup>C</h1>
<h2>Min: {{temp_min}}<sup>0</sup>C</h2>
<h2>Max: {{temp_max}}<sup>0</sup>C</h2>
<h5>Humidity: {{humidity}}%</h5>
<h5>wind_speed: {{wind_speed}} m/s</h5>
<h5>Weather: {{wthr_main}}</h5>
<h2></h2> -->

<!-- {{frcst}} -->

<div class="body">
    <div class="wthr_box">
        <div class="present">

        </div>
        <div class="forcast">
            <div class="day"><div class="frcst_cont"></div>
            <div class="frcst_cont"></div>
            <div class="frcst_cont"></div>
            <div class="frcst_cont"></div>
            <div class="frcst_cont"></div></div>
            
        </div>
    </div>
</div>

{% endblock %}