@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

img{
  display: inline !important;
}

body{
  /* background: url(https://cutewallpaper.org/21/sage-green-wallpaper-desktop/Green-Background-Hd-Wallpaper-67-Group-Wallpapers.jpg); */
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}

.about_pics{
  width: 246px;
border-radius: 50%;
aspect-ratio: 1/1;
object-fit: cover;
border: solid 15px #529dee;
position: relative;

top: 37px;
}

.main h1{
  font-size: 56px;
text-align: center;
padding-top: 65px;
color: #262d8d;
}

.description{
  width: 90%;
  font-size: x-large;
  margin: auto;
    margin-top: auto;
  margin-top: 75px;}

.background{
  width: 85%;
background: rgba(255, 255, 255, 0.466);
margin: auto;
border-radius: 48px;
height: 75%;
}

.a_site{
  height: 761 !important;
  aspect-ratio: 6/5 !important;
}

.participants{
  width: 70%;
  background: rgba(255, 255, 255, 0.466);
  margin: 153px auto;
  font-size: x-large;
  border-radius: 27px;
  padding: 30px;
  position: relative;
  top: -65px;
}

.members{
  width: 141px;
border: solid 14px #3982ce;
position: relative;
top: -84px;
left: -273px;
height: 141px !important;
padding: 0px;
}

.about_mem{
  position: relative;
top: -79px;
left: 90px;
width: 90%;
}

.right .about_mem{
  left: 20px;
}

.right .members{
  left: 281px;
}

#logo{
  padding: 0px;
}