
#user{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#user img{
    width: 40px;
    
}
.main_window{
    width: 100%;
    background: #dee7e7;
}

.books{
    width: 70%;
    background : #cde6e6;
    margin: auto;
    padding: 20px;
    /* flex-direction: row; */
    /* overflow-x: scroll; */
}

.section{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.section_h{
    margin-top: 91px;
    font-size: xx-large;
}
.swiper-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.one_book{
    height: 300px;
    width: 240px;
    background: purple;
    margin: 50px 10px;
    border-radius: 25px;
    transition: 0.3s;
}

.one_book:hover{
    transform: scale(1.1);
}

.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: center;
}
  .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

.thumbnails{
    width: 100%;
}

.feed-box{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: #6b6b6b;
    width: 70%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feed-box h2{
    font-size: 30px;
    margin-left: 30px;
    text-align: center;
}
.feed-box .news-feed{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    /* padding-top: 50px; */
    width: 84%;
    height: 370px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    /* overflow: scroll; */
}
.feed-box .news-feed .feed{
    width: 95%;
    border-radius: 10px;
    height: fit-content;
    margin: 20px;
    background-color: #cddada;
}
.feed-box .news-feed .feed .feed-content{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feed-box .news-feed .feed .feed-content p{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.farmer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.farmer img{
    align-self: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.farmer .farmer-text{
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}
.contact-details{
    width: 100%;
    height: 150px;
    background-color: rgb(27, 219, 69);
    /* position: absolute;
    bottom: -600px; */
    display: inline-flex;
    justify-content: center;
}
.contact-details h4{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.contact-details .info{
    padding: 15px;
}
.contact-details .info img{
    width: 40px;
    margin: 20px;
    transition: 0.2s;
}
.contact-details .info img:hover{
    transform: scale(1.3);
}

main{
    margin-top: 200px;
}
.farmer-text {
    width: 66%;
}

.feed-box .news-feed{
    height: 453px;
}

.feed-box{
    height: 655px;
    padding-left: 20px;
}
