
#user{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#user img{
    width: 40px;
    
}
.login-form{
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    /* height: 70vh; */
    aspect-ratio: 1.7/1 !important;
    width: 67% !important;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(27, 219, 69);
}
.main{
    width: 60%;
    background: #26e44fbb;
    aspect-ratio: 5/6;
    margin: 10% auto;
    border-radius: 82px;
    box-shadow: 50px -50px #10d1403d;

}
.login-form .form{
    padding: 30px;
    padding-left: 75px;
    color: #000000;
}
.login-form h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(0, 37, 250);
    margin: 34px 0;
}
.login-form .text{
    font-size: 25px;
margin: 5px 0;
}
.login-form .login{
    margin: 7px 42px;
font-weight: bold;
cursor: pointer;
}
.login-form .login:hover{
    color: blue;
}
.login-form input{
    font-size: 20px;
width: 100%;
padding: 10px 10px;
border: 0;
border-radius: 20px;
margin-left: 23px;
margin-bottom: 28px;
}
.login-form button{
    font-size: 20px;
font-weight: bold;
margin: 10px 100px;
padding: 8px 10px;
width: 50%;
border-radius: 20px;
cursor: pointer;
background-color: rgb(126, 126, 126);
}
.login-form .signup-msg{
    font-size: 15px;
    margin: 5px 49px;
}
.contact-details{
    width: 100%;
    height: 150px;
    background-color: rgb(27, 219, 69);
    position: absolute;
    bottom: -300px;
    display: inline-flex;
    justify-content: center;
}
.contact-details h4{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.contact-details .info{
    padding: 15px;
}
.contact-details .info img{
    width: 40px;
    margin: 20px;
    transition: 0.2s;
}
.contact-details .info img:hover{
    transform: scale(1.3);
}
