*{
    font-family: ubuntu !important;
}

.icons{
    height: 60px;
}

.goog-te-gadget-simple{
    background: #36D16B !important;
    padding: 9px !important;
    border-radius: 19px !important;
    display: inline-block;
    right: 42px;
    position: absolute;
    top: 110px;
    border: 0px !important;
}

#logo{
    height: 50px;
}

header{
    height: 100px;
    background: #36D16B;
}

#logo{
    padding: 22px;
}
footer{
    /* position: absolute;
    bottom: -400px; */
    width: 100%;
    height: 100px;
    background-color: black;
    display: block;
    padding: 20px 0px;
}
footer .rights{
    padding: 15px;
}
footer h4{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.design img{
    width: 400px;
position: relative;
margin: auto;
left: 200px;
top: 105px;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: #D2FFC3;
    /* height: 150vh; */
}
nav{
    width: 100%;
    /* height: 12vh; */
    background:#80F0A6;
    display: block ruby;
}
.header nav ul{
    list-style: none;
    display: inherit;
    /* position: absolute; */
    right: 41px;
    align-items: center;
    display: flex;
    top: 15px;
    padding: 8px 0px;
    background: #80F0A6;
    width: 900px;
}
nav ul li{
    margin-left: 50px;
    padding: 0px 0px;
}
nav ul a{
    color: rgb(23, 2, 71);
    text-decoration: none;
    font-size: larger;
}
*{
    padding: 0;
    margin: 0;
    font-family: ubuntu;
}
.header{
    width: 100%;
    /* height: 10vh; */
    /* background: rgb(19, 240, 104); */
    display: block ruby;
}
.header .user{
    margin-left: 50px;
    position: absolute;
    right: 41px;
    font-size: 20px;
    align-items: center;
    display: flex;
    top: 20px;
}
nav{
    width: 100%;
    /* height: 8vh; */
    /* background: rgb(88, 241, 165); */
    display: block ruby;
}
.nav nav ul{
    list-style: none;
    display: inherit;
    position: relative;
    right: 41px;
    font-size: 20px;
    align-items: center;
    display: flex;
    top: 10px;
    float: right;
}
nav ul li{
    margin-left: 50px;
    padding: 10px 10px;
}
nav ul a{
    color: rgb(23, 2, 71);
    text-decoration: none;
    font-size: larger;
}
#user{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#user img{
    width: 40px;
    
}

.finan{
    width: 70%;
    background: #80F0A6;
    margin: 100px auto;
    height: 1000px;
    border-radius: 50px;
}

.flash_msg{
    width: 45%;
    margin: auto;
    font-size: x-large;
    text-align: center;
    background: rgb(143 146 103 / 64%);
    padding: 16px 0px;
    border-radius: 20px;
    border: 3.2px solid rgb(119, 111, 119);
    position: fixed;
    top: 88px;
    left: 26%;
    translate-x: -50%;
    z-index: 20;
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    cursor: pointer;
}

