#finan-form{
    display: flex;
    flex-direction: column;
    width: 45%;
    background: #D2FFC3;
    position: relative;
    top: 75px;
    left: 60px;
    padding: 60px 0px;
    border-radius: 40px;
}

#finan-form input{
    padding: 14px;
    width: 300px;
    margin: 18px auto;
    border-radius: 16px;
    border: 0px;
    background: #F3FEFE;
}

.radio_enclose{
    width: 110px;
    margin: auto;
}

.radio_enclose input{
    width: 40px !important;
}

#btn{
    width: 100px;
    padding: 7px;
    margin: auto;
    border-radius: 12px;
    border: 0px;
    background: #80F0A6;
}

#farm_clip{
    height: 200px;
    position: absolute;
    bottom: 362px;
    right: 400px;
}

.finan h1{
    text-align: center;
    padding: 50px 0px;
    padding-bottom: 0px;
}